
{% extends 'home/public/base.html' %}
{% block title %}首页{% endblock %}

{% block containes %}
    <div class="home-full-banner">
        <a href="" class="item"><img data-lazy="/static/home/uploads/banner1.jpg" alt="" /></a>
        <a href="" class="item"><img data-lazy="/static/home/uploads/banner1.jpg" alt="" /></a>
        <a href="" class="item"><img data-lazy="/static/home/uploads/banner1.jpg" alt="" /></a>
    </div>

    <div class="gray-box">
        <div class="wrapper">
            <!-- 商品促销 -->
            <div class="promo-list clearfix">
                <div class="col">
                    <a class="item" href="goods-detail.html"><img src="/static/home/uploads/13.jpg" alt="" /></a>
                </div>
                <div class="col">
                    <a class="item" href="goods-detail.html"><img src="/static/home/uploads/14.jpg" alt="" /></a>
                </div>
                <div class="col">
                    <a class="item" href="goods-detail.html"><img src="/static/home/uploads/15.jpg" alt="" /></a>
                </div>
                <div class="col">
                    <a class="item" href="goods-detail.html"><img src="/static/home/uploads/16.jpg" alt="" /></a>
                </div>
            </div>

            <!-- 限时抢购 -->
            <div class="flash-sale-section">
                <div class="section-hd">
                    <div class="title">限时抢购</div>
                </div>
                <div class="flash-sale clearfix">
                    <div class="grid grid-b">
                        <a href="goods-detail.html"><img src="/static/home/uploads/17.jpg" alt="" /></a>
                    </div>
                    <div class="grid grid-m">
                        <a href="goods-detail.html">
                            <div class="inner-text">
                                <div class="tit">小米Max</div>
                                <div class="stit">6.44''大屏黄金尺寸</div>
                                <div class="info">大屏大电量</div>
                            </div>
                            <img src="/static/home/uploads/18.jpg" alt="" />
                        </a>
                    </div>
                    <div class="grid grid-s">
                        <a href="goods-detail.html">
                            <div class="inner-text">
                                <div class="tit">无线运动耳麦</div>
                                <div class="stit">大牌钜惠驾到</div>
                            </div>
                            <img src="/static/home/uploads/53.jpg" alt="" />
                        </a>
                    </div>
                    <div class="grid grid-s">
                        <a href="goods-detail.html">
                            <div class="inner-text">
                                <div class="tit">靠谱好装备</div>
                                <div class="stit">简约书台柜组合</div>
                            </div>
                            <img src="/static/home/uploads/57.jpg" alt="" />
                        </a>
                    </div>
                    <div class="grid grid-s">
                        <a href="goods-detail.html">
                            <div class="inner-text">
                                <div class="tit">无线运动耳麦</div>
                                <div class="stit">大牌钜惠驾到</div>
                            </div>
                            <img src="/static/home/uploads/52.jpg" alt="" />
                        </a>
                    </div>
                    <div class="grid grid-s">
                        <a href="goods-detail.html">
                            <div class="inner-text">
                                <div class="tit">靠谱好装备</div>
                                <div class="stit">简约书台柜组合</div>
                            </div>
                            <img src="/static/home/uploads/20.jpg" alt="" />
                        </a>
                    </div>
                    <div class="grid grid-s">
                        <a href="goods-detail.html">
                            <div class="inner-text">
                                <div class="tit">无线运动耳麦</div>
                                <div class="stit">大牌钜惠驾到</div>
                            </div>
                            <img src="/static/home/uploads/19.jpg" alt="" />
                        </a>
                    </div>
                    <div class="grid grid-s">
                        <a href="goods-detail.html">
                            <div class="inner-text">
                                <div class="tit">靠谱好装备</div>
                                <div class="stit">简约书台柜组合</div>
                            </div>
                            <img src="/static/home/uploads/20.jpg" alt="" />
                        </a>
                    </div>
                </div>
            </div>

        </div>
    </div>

    <div class="white-box">
        <div class="wrapper">
            <!-- 品牌盛宴 -->
            <div class="brand-feast-section">
                <div class="section-hd">
                    <div class="title">品牌盛宴</div>
                </div>
                <div class="brand-feast clearfix">
                    <div class="ad-box">
                        <a href=""><img src="/static/home/uploads/21.jpg" /></a>
                    </div>
                    <div class="brand-feast-list">
                        <div class="item">
                            <div class="logo"><img src="/static/home/uploads/23.jpg" alt="" /></div>
                            <a class="mask" href=""><span class="text">九阳<br />爆款直降低至49元</span></a>
                        </div>
                        <div class="item">
                            <div class="logo"><img src="/static/home/uploads/24.jpg" alt="" /></div>
                            <a class="mask" href=""><span class="text">九阳<br />爆款直降低至49元</span></a>
                        </div>
                        <div class="item">
                            <div class="logo"><img src="/static/home/uploads/25.jpg" alt="" /></div>
                            <a class="mask" href=""><span class="text">九阳<br />爆款直降低至49元</span></a>
                        </div>
                        <div class="item">
                            <div class="logo"><img src="/static/home/uploads/26.jpg" alt="" /></div>
                            <a class="mask" href=""><span class="text">九阳<br />爆款直降低至49元</span></a>
                        </div>
                        <div class="item">
                            <div class="logo"><img src="/static/home/uploads/23.jpg" alt="" /></div>
                            <a class="mask" href=""><span class="text">九阳<br />爆款直降低至49元</span></a>
                        </div>
                        <div class="item">
                            <div class="logo"><img src="/static/home/uploads/24.jpg" alt="" /></div>
                            <a class="mask" href=""><span class="text">九阳<br />爆款直降低至49元</span></a>
                        </div>
                        <div class="item">
                            <div class="logo"><img src="/static/home/uploads/25.jpg" alt="" /></div>
                            <a class="mask" href=""><span class="text">九阳<br />爆款直降低至49元</span></a>
                        </div>
                        <div class="item">
                            <div class="logo"><img src="/static/home/uploads/26.jpg" alt="" /></div>
                            <a class="mask" href=""><span class="text">九阳<br />爆款直降低至49元</span></a>
                        </div>
                        <div class="item">
                            <div class="logo"><img src="/static/home/uploads/23.jpg" alt="" /></div>
                            <a class="mask" href=""><span class="text">九阳<br />爆款直降低至49元</span></a>
                        </div>
                        <div class="item">
                            <div class="logo"><img src="/static/home/uploads/24.jpg" alt="" /></div>
                            <a class="mask" href=""><span class="text">九阳<br />爆款直降低至49元</span></a>
                        </div>
                        <div class="item">
                            <div class="logo"><img src="/static/home/uploads/25.jpg" alt="" /></div>
                            <a class="mask" href=""><span class="text">九阳<br />爆款直降低至49元</span></a>
                        </div>
                        <div class="item">
                            <div class="logo"><img src="/static/home/uploads/26.jpg" alt="" /></div>
                            <a class="mask" href=""><span class="text">九阳<br />爆款直降低至49元</span></a>
                        </div>
                        <div class="item">
                            <div class="logo"><img src="/static/home/uploads/23.jpg" alt="" /></div>
                            <a class="mask" href=""><span class="text">九阳<br />爆款直降低至49元</span></a>
                        </div>
                        <div class="item">
                            <div class="logo"><img src="/static/home/uploads/24.jpg" alt="" /></div>
                            <a class="mask" href=""><span class="text">九阳<br />爆款直降低至49元</span></a>
                        </div>
                        <div class="item">
                            <div class="logo"><img src="/static/home/uploads/25.jpg" alt="" /></div>
                            <a class="mask" href=""><span class="text">九阳<br />爆款直降低至49元</span></a>
                        </div>
                        <div class="item">
                            <div class="logo"><img src="/static/home/uploads/26.jpg" alt="" /></div>
                            <a class="mask" href=""><span class="text">九阳<br />爆款直降低至49元</span></a>
                        </div>
                        <div class="item">
                            <div class="logo"><img src="/static/home/uploads/25.jpg" alt="" /></div>
                            <a class="mask" href=""><span class="text">九阳<br />爆款直降低至49元</span></a>
                        </div>
                        <div class="item">
                            <div class="logo"><img src="/static/home/uploads/26.jpg" alt="" /></div>
                            <a class="mask" href=""><span class="text">九阳<br />爆款直降低至49元</span></a>
                        </div>
                    </div>
                </div>
                <!-- 广告 -->
                <div style="margin-top:12px;">
                    <a href=""><img src="/static/home/uploads/22.jpg" alt="" /></a>
                </div>
            </div>
        </div>
    </div>

    <div class="gray-box">
        <div class="wrapper floor-wrap">
            <!-- floor1到floor5控制楼层的主题 -->
            <div class="floor-section floor1">
                <div class="section-hd">
                    <div class="title">3C数码</div>
                    <div class="bar more">
                        <a href="">iPhone</a><a href="">小米</a><a href="">魅族</a><a href="">荣耀</a><a href="">乐视</a><a href="">华为</a><a href="">三星</a><a href="">OPPO</a><a href="">VIVO</a>
                    </div>
                </div>
                <div class="section-bd clearfix">
                    <div class="section-side">
                        <div class="banner">
                            <a href="search-goods.html"><img src="/static/home/uploads/27.jpg" alt="" /></a>
                        </div>
                        <div class="brands">
                            <a href="search-goods.html" class="item"><div class="inner"><img src="/static/home/uploads/23.jpg" alt="" /></div></a>
                            <a href="search-goods.html" class="item"><div class="inner"><img src="/static/home/uploads/12.jpg" alt="" /></div></a>
                            <a href="search-goods.html" class="item"><div class="inner"><img src="/static/home/uploads/24.jpg" alt="" /></div></a>
                            <a href="search-goods.html" class="item"><div class="inner"><img src="/static/home/uploads/25.jpg" alt="" /></div></a>
                            <a href="search-goods.html" class="item"><div class="inner"><img src="/static/home/uploads/26.jpg" alt="" /></div></a>
                            <a href="search-goods.html" class="item"><div class="inner"><img src="/static/home/uploads/24.jpg" alt="" /></div></a>
                        </div>
                    </div>
                    <div class="section-cont">
                        <div class="col">
                            <a class="grid grid-s" href="goods-detail.html">
                                <div class="inner-text">
                                    <div class="tit">设计最爱之w3c数位板</div>
                                    <div class="info">爆款满1000减99 </div>
                                </div>
                                <img src="/static/home/uploads/19.jpg" alt="" />
                            </a>
                            <a class="grid grid-s" href="goods-detail.html">
                                <div class="inner-text">
                                    <div class="tit">设计最爱之w3c数位板</div>
                                    <div class="info">爆款满1000减99 </div>
                                </div>
                                <img src="/static/home/uploads/19.jpg" alt="" />
                            </a>
                            <a class="grid grid-s" href="goods-detail.html">
                                <div class="inner-text">
                                    <div class="tit">设计最爱之w3c数位板</div>
                                    <div class="info">爆款满1000减99 </div>
                                </div>
                                <img src="/static/home/uploads/19.jpg" alt="" />
                            </a>
                        </div>
                        <div class="col">
                            <a class="grid grid-b" href="">
                                <div class="inner-text">
                                    <div class="tit">设计最爱之w3c数位板</div>
                                    <div class="info">爆款满1000减99 </div>
                                </div>
                                <img src="/static/home/uploads/18.jpg" alt="" />
                            </a>
                            <a class="grid grid-m" href="">
                                <div class="inner-text">
                                    <div class="tit">设计最爱之w3c数位板</div>
                                    <div class="info">爆款满1000减99 </div>
                                </div>
                                <img src="/static/home/uploads/32.jpg" alt="" />
                            </a>
                        </div>
                        <div class="col">
                            <a class="grid grid-s" href="goods-detail.html">
                                <div class="inner-text">
                                    <div class="tit">设计最爱之w3c数位板</div>
                                    <div class="info">爆款满1000减99 </div>
                                </div>
                                <img src="/static/home/uploads/19.jpg" alt="" />
                            </a>
                            <a class="grid grid-s" href="goods-detail.html">
                                <div class="inner-text">
                                    <div class="tit">设计最爱之w3c数位板</div>
                                    <div class="info">爆款满1000减99 </div>
                                </div>
                                <img src="/static/home/uploads/19.jpg" alt="" />
                            </a>
                            <a class="grid grid-s" href="goods-detail.html">
                                <div class="inner-text">
                                    <div class="tit">设计最爱之w3c数位板</div>
                                    <div class="info">爆款满1000减99 </div>
                                </div>
                                <img src="/static/home/uploads/19.jpg" alt="" />
                            </a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="floor-section floor4">
                <div class="section-hd">
                    <div class="title">商城超市</div>
                    <div class="bar more">
                        <a href="">粮油干货</a><a href="">牛奶冲调</a><a href="">保健滋补</a><a href="">纸品清洁</a><a href="">居家家纺</a><a href="">家居日用</a>
                    </div>
                </div>
                <div class="section-bd clearfix">
                    <div class="section-side">
                        <div class="banner">
                            <a href=""><img src="/static/home/uploads/30.jpg" alt="" /></a>
                        </div>
                        <div class="category">
                           <div class="tit">商城超市</div>
                            <div class="row">
                                <div class="col col-6"><a href="" class="item">食品饮料</a></div>
                                <div class="col col-6"><a href="" class="item">食品饮料</a></div>
                                <div class="col col-6"><a href="" class="item">食品饮料</a></div>
                                <div class="col col-6"><a href="" class="item">食品饮料</a></div>
                                <div class="col col-6"><a href="" class="item">食品饮料</a></div>
                                <div class="col col-6"><a href="" class="item">食品饮料</a></div>
                                <div class="col col-6"><a href="" class="item">食品饮料</a></div>
                                <div class="col col-6"><a href="" class="item">食品饮料</a></div>
                            </div>
                        </div>
                    </div>
                    <div class="section-cont">
                        <div class="col">
                            <a class="grid grid-s" href="goods-detail.html">
                                <div class="inner-text">
                                    <div class="tit">设计最爱之w3c数位板</div>
                                    <div class="info">爆款满1000减99 </div>
                                </div>
                                <img src="/static/home/uploads/19.jpg" alt="" />
                            </a>
                            <a class="grid grid-s" href="goods-detail.html">
                                <div class="inner-text">
                                    <div class="tit">设计最爱之w3c数位板</div>
                                    <div class="info">爆款满1000减99 </div>
                                </div>
                                <img src="/static/home/uploads/19.jpg" alt="" />
                            </a>
                            <a class="grid grid-s" href="goods-detail.html">
                                <div class="inner-text">
                                    <div class="tit">设计最爱之w3c数位板</div>
                                    <div class="info">爆款满1000减99 </div>
                                </div>
                                <img src="/static/home/uploads/19.jpg" alt="" />
                            </a>
                        </div>
                        <div class="col">
                            <a class="grid grid-b" href="">
                                <div class="inner-text">
                                    <div class="tit">设计最爱之w3c数位板</div>
                                    <div class="info">爆款满1000减99 </div>
                                </div>
                                <img src="/static/home/uploads/18.jpg" alt="" />
                            </a>
                            <a class="grid grid-m" href="">
                                <div class="inner-text">
                                    <div class="tit">设计最爱之w3c数位板</div>
                                    <div class="info">爆款满1000减99 </div>
                                </div>
                                <img src="/static/home/uploads/32.jpg" alt="" />
                            </a>
                        </div>
                        <div class="col">
                            <a class="grid grid-s" href="goods-detail.html">
                                <div class="inner-text">
                                    <div class="tit">设计最爱之w3c数位板</div>
                                    <div class="info">爆款满1000减99 </div>
                                </div>
                                <img src="/static/home/uploads/19.jpg" alt="" />
                            </a>
                            <a class="grid grid-s" href="goods-detail.html">
                                <div class="inner-text">
                                    <div class="tit">设计最爱之w3c数位板</div>
                                    <div class="info">爆款满1000减99 </div>
                                </div>
                                <img src="/static/home/uploads/19.jpg" alt="" />
                            </a>
                            <a class="grid grid-s" href="goods-detail.html">
                                <div class="inner-text">
                                    <div class="tit">设计最爱之w3c数位板</div>
                                    <div class="info">爆款满1000减99 </div>
                                </div>
                                <img src="/static/home/uploads/19.jpg" alt="" />
                            </a>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>

{% endblock %}