{% extends 'back/public/base.html' %}

{% block title %}订单列表{% endblock %}
{% block mycss %}
<link rel="stylesheet" href="/static/back/css/weadmin.css">
{% endblock %}

{% block currpath %}订单列表{% endblock %}
{% block contains%}
<div class="weadmin-body">
  <!---搜索区域Start-->
    <div class="weadmin-block userTable">
        <a href="{% url 'goodsadd' %}" class="layui-btn" ><i class="fa fa-plus-circle fa-lg layui-anim" aria-hidden="true"></i>&nbsp;&nbsp;添加商品</a>
        <!--<button class="layui-btn" data-type="check" onclick="WeAdminShow('添加商品属性','{% url 'goods_trait_add' %}',800,400)"><i class="fa fa-plus-circle fa-lg layui-anim" aria-hidden="true"></i>&nbsp;&nbsp;添加商品</button>-->
        <button class="layui-btn layui-btn-danger" lay-filter="trashlist"><i class="fa fa-trash fa-lg" aria-hidden="true"></i>&nbsp;&nbsp;回收站</button>
        <!--<span class="fr" style="line-height:40px">共有数据：{{ count }}  条</span>-->
    </div>
  <!---搜索区域End-->

  <!---表格区域Start-->

    <table class="layui-table layui-hide" id="orderList" lay-filter="orderlist"></table>
    <!--操作模块-->
    <script type="text/html" id="operateTpl">
        <a title="查看商品详情" class="layui-btn layui-btn-normal layui-btn-xs" href="javascript:;" lay-event="detail">
            <i class="fa fa-eye" aria-hidden="true"></i>&nbsp;详情
        </a>
        <a title="编辑商品信息" class="layui-btn layui-btn-xs" href="javascript:;" lay-event="edit">
            <i class="fa fa-edit" aria-hidden="true"></i>&nbsp;状态
        </a>
    </script>
    <!--商品类别-->
    <script type="text/html" id="type">
      {% verbatim %}{{#  if(d.g_type === 0){ }}{% endverbatim %}
         <a class="layui-btn layui-btn-xs layui-btn-normal">普通</a>
      {% verbatim %}{{#  } else if(d.g_type === 1){ }}{% endverbatim %}
         <a class="layui-btn layui-btn-xs">新品</a>
      {% verbatim %}{{#  } else if(d.g_type === 2){ }}{% endverbatim %}
         <a class="layui-btn layui-btn-xs layui-btn-danger">热卖</a>
      {% verbatim %}{{#  } }}{% endverbatim %}
    </script>
    <!--订单状态-->
    <script type="text/html" id="isdel">
        <div class="layui-progress " lay-showPercent="true" style="margin-top: 15px;">
            {% verbatim %}{{#  if(d.o_status === 0){ }}{% endverbatim %}
            <div class="layui-progress-bar layui-bg-gray" lay-percent="100%" title="订单取消"></div>
            {% verbatim %}{{#  } else if(d.o_status === 1){ }}{% endverbatim %}
            <div class="layui-progress-bar layui-bg-blue" lay-percent="25%" title="未付款"></div>
            {% verbatim %}{{#  } else if(d.o_status === 2){ }}{% endverbatim %}
            <div class="layui-progress-bar layui-bg-green" lay-percent="50%" title="未发货"></div>
            {% verbatim %}{{#  } else if(d.o_status === 3){ }}{% endverbatim %}
            <div class="layui-progress-bar layui-bg-orange" lay-percent="75%" title="未签收"></div>
            {% verbatim %}{{#  } else if(d.o_status === 4){ }}{% endverbatim %}
            <div class="layui-progress-bar layui-bg-red" lay-percent="100%" title="订单完成"></div>
            {% verbatim %}{{#  } }}{% endverbatim %}
        </div>
    </script>
  <!---表格区域End-->

</div>
{% endblock %}

{% block setjs %}
<script>
layui.extend({
	admin: '{/}/static/back/js/admin'
});
layui.use(['table', 'jquery', 'admin','element'], function() {
	var table = layui.table,
	    element = layui.element,
		$ = layui.jquery;
    //表格内容
    tableIns =
    table.render({
        elem: '#orderList',
        cellMinWidth: 80,
        url:'{% url 'order_getdata' %}',
        cols: [
            [{
                field: 'id',title: 'ID', width:80,sort: true, align: 'center'
            },{
                field: 'o_number',title: '订单编号',width:180
            },{
                field: 'o_user',title: '购买者' ,width:120, align: 'center'
            },{
                field: 'o_totalprice',title: '订单总价',width:120, align: 'center'
            },{
                field: 'o_totalnum',title: '订单总数' ,width:80, align: 'center'
            },{
                field: 'o_address',title: '送货地址', align: 'center',width:240
            },{
                field: 'o_status',title: '订单状态', align: 'center' ,templet: '#isdel'
            },{
                field: 'o_addtime',title: '生成时间' , align: 'center',width:180
            },{
                field: 'operate',title: '操作',toolbar: '#operateTpl',width:180, align: 'center', fixed:'right'
            }]
        ]
        ,event: true
        ,page:true
        ,page: {
            layout: ['count', 'prev', 'page', 'next'] //自定义分页布局
            ,groups: 10 //只显示 1 个连续页码
            ,first: true //不显示首页
            ,last: false //不显示尾页
        }
        ,limit:10
        ,done: function(res, curr, count){
            element.init();
        }
    });



    //修改商品属性信息
    table.on('tool(orderlist)', function(obj){
        var data = obj.data;
        if(obj.event === 'edit'){
            WeAdminEdit("修改订单状态","{% url "order_edit" %}", data.id,700,400)
        }else if(obj.event === 'detail'){
            WeAdminEdit("查看订单信息","{% url "order_detail" %}", data.id)
        }
    });

});
</script>

{% endblock %}





















